.carousel-container{
    position: relative;
    height: 300px;
    width: 440px;
    border: 1px solid blue;
    overflow: hidden;

    .carousel {
        position: absolute;
        height: 300px;
        width: 400px;
        margin: 0 auto;

        .carousel__button {
            position: absolute;
            top: 45%;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            z-index: 1;
        }

        .carousel__button>img {
            width: 100%;
            height: 70%;
        }

        .carousel__button--left {
            left: 0%;
        }

        .carousel__button--right {
            right: -40px;
        }

        .carousel__button--right>img {
            transform: rotate(180deg);
        }

        .carousel__nav {
            position: absolute;
            left: 45%;
            bottom: 0;
        }

        .carousel__indicator {
            width: 10px;
            height: 10px;
            border-radius: 5px;
            padding: 0;
            margin: 0;
            margin-right: 4px;
            border: 1px solid gray;
            background-color: white;
        }

        .carousel_track-container {
            padding: 20px;
            width: 100%;
            height: 100%;

            position: relative;

            .carousel_track {
                position: absolute;
                top: 0;
                margin: 0;
                padding: 0;
                list-style: none;
                width: 100%;
                display: flex;


                .carousel__slide {
                    // position: absolute;
                    // width: 100%;
                    // height: 100%;

                    .carousel__image {
                        // width: 100%;
                        width: 400px;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

.hide {
    display: none;
}

.active-indicator {
    background-color: gray !important;
    border: 1px solid white;
}

/* Animation & Keyframes */

.slide-in-next {
    animation-name: animate-slide-in-next;
    animation-duration: 1s;
}
@keyframes animate-slide-in-next {
    from {
        transform: translate(100%, 0%);
        display: initial;
    }
    to {
        transform: translate(0%, 0%);
    }
}
/* .slide-out-next {
    animation-name: animate-slide-out-next;
    animation-duration: 1s;
}
@keyframes animate-slide-out-next {
    from {
        transform: translate(0%, 0%);
    }
    to {
        transform: translate(-100%, 0%);
        display: none;
    }
} */


.slide-in-prev {
    animation-name: animate-slide-in-prev;
    animation-duration: 1s;
}

@keyframes animate-slide-in-prev {
    from {
        transform: translate(-100%, 0%);
        display: none;
    }
    to {
        transform: translate(0%, 0%);
    }
}

/* .slide-out-prev {
    animation-name: animate-slide-out-prev;
    animation-duration: 1s;
}

@keyframes animate-slide-out-prev {
    from {
        transform: translate(0%, 0%);
    }
    to {
        transform: translate(100%, 0%);
        display: initial;
    }
} */